<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Path</title>
    <link rel="stylesheet" href={{url_for('static',filename='style1.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">Smart Path by Hack4Industry</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#about">About Smart Path</a>
          <a href="#dashboard">Dashboard</a>
          <a href="#info">Team</a>
          <a href="/monitor">Monitor</a>
          <a href="/predict">Predictor</a>
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 8%;">
        <div class="info">
          <h2>Smart Roads <br><span>Smooth Rides</span></h2>
          <p> Intelligent traffic management ensures safer and faster journeys. By optimizing routes and reducing congestion, we make commuting stress-free and efficient for everyone</p>
          <a href="#about" class="info-btn">More info</a>
        </div>
      </div>
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/parag-nema/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/paragnema1"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/V51430"><i class="fab fa-twitter"></i></a>
      </div>
    </section>

    <section id="about">
      <h2>About Smart Path</h2>
      <p class="about-content" style="text-align: center;">Smart Path is an AI-powered Intelligent Traffic Management System that predicts congestion, optimizes traffic signals, and ensures smooth mobility. It dynamically controls traffic intensity and detects emergency vehicles 500m ahead, preemptively clearing routes to prevent stoppages. Using real-time GPS, traffic cameras, and sensor networks, it enhances urban traffic flow, reduces delays, and promotes sustainable commuting.  
      </p>
    </section>

    <section id="dashboard">
      <h2>Dashboard</h2>
      <p>This dashboard is done using a software called PowerBI which is a product of Microsoft.
        Here I have just attached the images of the dashboard because PowerBI needs oraganizational
        account. So to see the visualizations interactive I am attaching my <a href="../static/rain.pbix" style="color: black; font-weight: bold;">PowerBI</a>
        dashboard file. This requires PowerBI software to open the file. The usage of dashboards like
        these is to bring a better understanding about the dataset and also to bring some beautiful insights</p>
      <img class="dashboard-image" src="../static/dashboard.png" alt="1">
      <div>
        <img src="../static/1.png" alt="1">
        <img src="../static/3.png" alt="3">
        <img src="../static/4.png" alt="4">
        <img src="../static/5.png" alt="5">
        <img src="../static/6.png" alt="6">
        <img src="../static/7.png" alt="7">
        <img src="../static/8.png" alt="8">
        <img src="../static/9.png" alt="9">
      </div>
    </section>
    
    <section id="info">
      <div>
        <img src="../static/vasanth1.png" alt="Vasanth">
      </div>
      <div>
        <h2>Team - Hack4Industry</h2>
        <p class="about-content"> We are Team Hack4Industry, a group of passionate innovators dedicated to solving real-world challenges through technology and data-driven solutions. Our expertise spans Machine Learning, AI, Computer Vision, and IoT, with a strong focus on intelligent automation, smart infrastructure, and industry-driven problem-solving. </p>
      </div>
    </section>

    <footer>
      <p>
        Developed with ❤️ by Team-Hack4Industry
      </p> 
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/parag-nema/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/paragnema1"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/V51430"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </body>
</html>
